---
	import Nav from '../components/Nav.astro'
	// import Counter from '../components/Counter.svelte'
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<h1>Astro</h1>
	<Nav currentPage="home" />
	<h2>Home page</h2>
	<!-- <Counter count={10} client:load /> -->
</body>

</html>