---
	import BaseLayout from '../layouts/BaseLayout.astro'
---

<script>
	console.log(foo)
</script>

<BaseLayout>
	<h1>Homepage</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed fuga molestiae aspernatur numquam beatae deserunt
		totam doloremque ipsa itaque quo molestias magni nam rem cumque, necessitatibus tenetur maxime nisi ea.</p>
</BaseLayout>